<div class="criarPost">
  <a routerLink="/criar">Criar Post</a>
</div>
<aside class="menu">
  <nav>
    <p>Categorias</p>
    <a href="#">Lorem ipsum dolor</a>
    <hr>
    <a href="#">Lorem ipsum dolor</a>
    <hr>
    <a href="#">Lorem ipsum dolor</a>
    <hr>
    <a href="#">Lorem ipsum dolor</a>
    <hr>
  </nav>
  <div class="search">
    <p>Procurando alguma notícia?</p>
    <div class="searchInput">
      <input type="text" placeholder="Pesquisar por...">
      <span><i class="far fa-search"></i></span>
    </div>
  </div>
</aside>
